.currency_frame{
    i{
        color: var(--action_color);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .main_currency{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        height: 70px;
        background-color: var(--bg2);
        border: 0 solid transparent;
        border-radius: 10px;
        margin-bottom: 20px;
        p{
            color: #fff;
            font-size: 20px;
        }
        button{
            background-color: transparent;
            width: 60px;
            font-size: 30px;
            margin: 0;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
    table{
        background-color: var(--bg2);
        border: 0 solid transparent;
        border-radius: 10px;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .last_update{
        margin-top: 20px;
        padding: 0 10px;
        width: 100%;
        height: 70px;
        background-color: var(--bg2);
        border: 0 solid transparent;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            width: 150px;
            height: 50px;
            background-color: var(--action_color);
            color: #fff;
            border: 0 solid transparent;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
            transition: .4s ease;
            i{
                margin: 5px;
            }
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}
.edite_currency{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000008a;
    display: flex;
    justify-content: center;
    align-items: center;
    .frame{
        background-color: var(--bg1);
        width: 300px;
        height: 350px;
        border: 2.5px solid var(--action_color);
        border-radius: 10px;
        .header{
            position: relative;
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--action_color);
            padding: 10px;
            .logo{
                font-size: 35px;
                color: #fff;
            }
            .exite{
                font-size: 35px;
                color: #fff;
                transition: .4s ease;
            }
            .exite:hover{
                transform: scale(1.1);
            }
        }
        .form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                padding: 0 80px;
                margin: 10px;
                height: 50px;
                width: 90%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                color: #fff;
                border: 0 solid transparent;
                border-radius: 10px;
                transition: 0.4s ease;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            a:hover{
                background-color: #424242a4;
            }
        }
        .save{
            height: 80px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button{
                width: 150px;
                height: 50px;
                border: 0 solid transparent;
                border-radius: 10px;
                background-color: var(--action_color);
                color: #fff;
                font-size: 20px;
            }
        }
    }
}
