.cards_panel{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .first_card{
        width: 30%;
        background-color: #ff5689;
    }
    .second_card{
        width: 30%;
        background-color: #03a9f4;
    }
    .theerd_card{
        width: 30%;
        background-color: #6e22af;
    }
}
.charts_frame{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .first_chart{
        width: 55%;
        background-color: var(--bg2);
        justify-content: space-between;
        .chart_store_by{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            p{
                color: #fff;
                font-size: 20px;
            }
            select{
                width: 150px;
                height: 40px;
                background-color: var(--action_color);
                border: 2.5px solid transparent;
                border-radius: 10px;
                color: #fff;
            }
        }
        .barchart{
            width: 100%;
            height: calc(100% - 50px);
        }
    }
    .second_chart{
        width: 38%;
        background-color: var(--bg2);
        padding: 10px;
        .chart{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .plane_chart{
                position: relative;
                width: 100%;
                height: 50%;
                background-color: var(--bg2);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                .big_circle{
                    width: 350px;
                    height: 350px;
                    border: 0 solid transparent;
                    border-radius: 50%;
                    transform: translate(0,30%);
                    .under_circle{
                        background-color: var(--bg2);
                        width: 310px;
                        height: 310px;
                        border: 0 solid transparent;
                        border-radius: 50%;
                        transform: translate(20px,20px);
                    }
                }
                .frame_plane{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--bg2);
                    transition: 2s ease;
                    transform-origin: 50% 100%;
                }
                .target_edit{
                    position: absolute;
                    top: 50%;
                    left: 25%;
                    width: 50%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    color: #fff;
                    .progress_persent{
                        font-weight: 900;
                        font-size: 20px;
                    }
                    .progress_currency{
                        font-size: 15px;
                    }
                    button{
                        width: 150px;
                        height: 40px;
                        background-color: var(--action_color);
                        border: 0 solid transparent;
                        border-radius: 10px;
                    }
                }
            }
            .details{
                width: 100%;
                height: 40%;
                padding: 10px;
                .cards{
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .target_card{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        padding: 5px;
                        background-color: #425a60;
                        border: 0 solid transparent;
                        border-radius: 10px;
                        p{
                            height: 50px;
                            width: 100%;
                            color: #fff;
                            border: 0 solid transparent;
                            border-radius: 10px;
                            background-color: #0363e0;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 10px;
                        }
                        span{
                            color: #fff;
                            font-size: 20px;
                        }
                    }
                }
                .reset_day{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    p{
                        color: #fff;
                        font-size: 15px;
                    }
                }
            }
            .plane_chart_add{
                position: relative;
                width: 100%;
                height: 100%;
                background-color: var(--bg2);
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 20px;
                    text-align: center;
                    color: #fff;
                    margin-bottom: 50px;
                }
                button{
                    width: 150px;
                    height: 40px;
                    background-color: var(--action_color);
                    border: 0 solid transparent;
                    border-radius: 10px;
                    color: #fff;
                }
            }
        }
    }
}
.limit_fram{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000085;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .limit_panel{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-style: solid;
        border-radius: 10px;
        border-color: var(--action_color);
        background-color: var(--bg1);
        overflow: hidden;
        color: #fff;
        .header{
            position: relative;
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--action_color);
            padding: 10px;
            .logo{
                font-size: 35px;
                color: #fff;
            }
            .exite{
                font-size: 35px;
                color: #fff;
                transition: .4s ease;
            }
            .exite:hover{
                transform: scale(1.1);
            }
        }
        .body_fram{
            width: 100%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            .limit_type{
                height: 150px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                input{
                    margin-bottom: 10px;
                }
            }
            .limit_date{
                height: 130px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                .group{
                    display: flex;
                    flex-direction: row;
                    label{
                        display: flex;
                        flex-direction: column;
                        margin-right: 10px;
                        input{
                            background-color: transparent;
                            outline: none;
                            border:  2.5px solid var(--action_color);
                            border-radius: 10px;
                        }
                    }
                }
            }
            .limit{
                height: 130px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                .group{
                    display: flex;
                    flex-direction: row;
                    label{
                        display: flex;
                        flex-direction: column;
                        margin-right: 10px;
                        input{
                            background-color: transparent;
                            outline: none;
                            border:  2.5px solid var(--action_color);
                            border-radius: 10px;
                        }
                        select{
                            background-color: transparent;
                            outline: none;
                            border:  2.5px solid var(--action_color);
                            border-radius: 10px;
                            option{
                                background: var(--bg2);
                            }
                        }
                    }
                }
            }
            .save{
                margin-top: 50px;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                button{
                    width: 150px;
                    height: 100%;
                    background-color: var(--action_color);
                    border: 0 solid var(--action_color);
                    border-radius: 10px;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }
}
.lists_frame_big{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg2);
    border: 0 solid transparent;
    border-radius: 10px;
    padding: 0 30px 30px;
    margin-bottom: 20px;
    .Top_10{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        p{ 
            font-size: 20px;
            color: #fff;
        }
        .chart_store_by{
            select{
                width: 150px;
                height: 40px;
                background-color: var(--action_color);
                border: 2.5px solid transparent;
                border-radius: 10px;
                color: #fff;
            }
        }
    }
    .lists_frame{
        width: 100%;
        max-height: 500px;
        overflow: hidden auto;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        .list_panel{
            width: 23%;
        }
        .card_rank{
            width: 100%;
            height: 70px;
            margin-bottom: 15px;
            border: 0px solid transparent;
            background-color: #425a60;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            span{
                color: var(--action_color);
            }
        }
        .list_data{
            background-color: var(--bg2);
            border: 0 solid transparent;
            border-radius: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            overflow: hidden;
            .row_list{
                width: 100%;
                height: 50px;
                border: 0px solid transparent;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #425a60;
                margin-bottom: 10px;
                padding: 0 5px;
                .icon{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 30px;
                        color: #fff;
                    }
                }
                .info{
                    width: calc(100% - 50px);
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .title{
                        font-size: 15px;
                        color: #fff;
                        height: 50%;
                        width: 100%;
                    }
                    .parcour{
                        height: 50%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .chartframe{
                            width: 70%;
                            height: 10px;
                            background: #b1b1b1;
                            border: 0 solid transparent;
                            border-radius: 5px;
                            .chart_panel{
                                height: 100%;
                            }
                        }
                        .number{
                            font-size: 15px;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .first_card_rank{
            background-color: #fc9943;
            i{
                background-color: #fac393;
                color: #fe7700;
            }

        }
        .second_card_rank{
            background-color: #69f941;
            i{
                background-color: #b7fda4;
                color: #37fd00;
            }
        }
        .third_card_rank{
            background-color: #6f8ff7;
            i{
                background-color: #a1b6fc;
                color: #003cff;
            }
        }
        .forth_card_rank{
            background-color: #ff63a9;
            i{
                background-color: #fb91c1;
                color: #ec006a;
            }
        }

        .chart_panel1{
            background-color: #fe7700;
        }
        .chart_panel2{
            background-color: #37fd00;
        }
        .chart_panel3{
            background-color: #003cff;
        }
        .chart_panel4{
            background-color: #ec006a;
        }
    }
}