*{
    padding: 0;
    margin: 0;
    font-family: "Cerebri Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
$black_coler: #090b3b;
$light_coler: #fff;
.bg_login{
    overflow: hidden;
    background-image: url(../../public/icon/bgc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .animated_bear{
        position: absolute;
        bottom: 50px;
        height: 300px;
        width: 300px;
        right: 50px;
        animation: bear_bysclet 20s infinite linear;
    }
    .text-gray-600 {
        color: $black_coler;
        text-decoration: none;
        font-size: 18px;
        outline: none;
    }
    .text-gray-700 {
        color: #4e344f;
        font-size: 15px;
    }
    .form_login{
        position: relative;
        backface-visibility: hidden;
        width: 450px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
        border-color: transparent;
        border-style: solid;
        background-color: #ffffff27;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(10px);
        form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .bear_avatar{
                position: absolute;
                top: -125px;
                width: 220px;
                height: 220px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                border:0px solid transparent;
                border-radius: 50%;
                background-color: #79cfe2;
                overflow: hidden;
                background-image: url("../../public/icon/login/bear_avatar.png");
                background-position: 0% 100%;
                background-size: 90% 90%;
                background-repeat: no-repeat;
                .eye_frame{
                    width: 26%;
                    height: 65px;
                    .eyes{
                        position: relative;
                        top: 90%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        overflow: hidden;
                        .eye{
                            position: relative;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background: #ffffff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            .pupil{
                                position: absolute;
                                top: 20%;
                                left: 40%;
                                width: 10px;
                                height: 10px;
                                border: 0 solid transparent;
                                border-radius: 50%;
                                background: #0e4d5d;
                                z-index: 0;
                            }
                        }
                        .roumouch{
                            position: absolute;
                            top: -100%;
                            width: 100%;
                            height: 100%;
                            background-color: #ffffff;
                            z-index: 9;
                            animation: roumouch 2s ease infinite;
                        }
                    }
                }
                //mouth
                .mouth_frame{
                    position: relative;
                    width: 50px;
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    .mouth{
                        width: 35px;
                        height: 5px;
                        border: 0 solid transparent;
                        border-radius: 0 0% 50% 50%;
                        background: #ffffff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                //hand
                .left_hand{
                    position: absolute;
                    top: 0;
                    height: 250px;
                    width: 100px;
                    transform: rotateZ(150deg) translate(-40px,-250px);
                    background-image: url("../../public/icon/login/hand.png");
                    background-position: 0% 100%;
                    background-size: 90% 90%;
                    background-repeat: no-repeat;
                    z-index: 999;
                }
                .right_hand{
                    position: absolute;
                    top: 0;
                    height: 250px;
                    width: 100px;
                    transform: rotateZ(210deg) rotateY(150deg) translate(-40px,-250px);
                    background-image: url("../../public/icon/login/hand.png");
                    background-position: 0% 100%;
                    background-size: 90% 90%;
                    background-repeat: no-repeat;
                    z-index: 999;
                }
            }
            .title{
                height: 25%;
                font-size: 40px;
                font-weight: 600;
                color: $black_coler;
            }
            .inputs{
                height: 100px;
                width: 100%;
                padding: 0 5%;
                position: relative;
            }
            .input{
                height: 50px;
                width: 100%;
                background-color: transparent;
                border:2px solid transparent;
                border-color:  transparent transparent $black_coler;
                border-radius: 0;
                font-size: 20px;
                color: $black_coler;
                outline: none;
            }
            .eye_pass{
                position: absolute;
                bottom: 20px;
                right: 30px;
                font-size: 20px;
                cursor: pointer;
            }
            .input:focus{
                --tw-ring-color :transparent;
            }
            .forget_pass{
                width: 90%;
                text-align: end;
                padding-bottom: 20px;
                Link{
                    color: $black_coler;
                }
            }
            .login_button{
                width: 150px;
                height: 50px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border-color: $black_coler;
            }
            .forget_button{
                width: 250px;
            }
            .login_button:hover, .forget_button:hover{
                box-shadow: 0 0 20px $black_coler;
            }
            .login_button::before, .login_button::after{
                background-color: $black_coler;
                border-color: $black_coler;
            }
            .register{
                text-align: center;
                color: black;
                span{
                    Link{
                        color: $black_coler;
                        font-weight: 700;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
//roumouch
@keyframes roumouch {
    0%{
        top: -5%;
    }
    5%{
        top: -100%;
    }
    95%{
        top: -100%;
    }
    100%{
        top: -5%;
    }
}
//hand
@keyframes hand_up_left{
    0%{
        transform: rotateZ(150deg) translate(-40px,-250px);;
    }
    100%{
        transform: rotateZ(150deg) translate(-40px,-50px);
    }
}
@keyframes hand_down_left{
    0%{
        transform: rotateZ(150deg) translate(-40px,-50px);;
    }
    100%{
        transform: rotateZ(150deg) translate(-40px,-250px);
    }
}
@keyframes hand_up_right{
    0%{
        transform: rotateZ(210deg) rotateY(150deg) translate(-40px,-250px);
    }
    100%{
        transform: rotateZ(210deg) rotateY(150deg) translate(-40px,-50px);
    }
}
@keyframes hand_down_right{
    0%{
        transform: rotateZ(210deg) rotateY(150deg) translate(-40px,-50px);
    }
    100%{
        transform: rotateZ(210deg) rotateY(150deg) translate(-40px,-250px);
    }
}
//mouth
@keyframes mouse_login_enter {
    0%{
        height: 5px;
    }
    100%{
        height: 10px;
    }
}
@keyframes mouse_login_sort {
    0%{
        height: 10px;
    }
    100%{
        height: 5px;
    }
}
@keyframes mouse_user_enter {
    0%{
        height: 10px;
    }
    100%{
        height: 15px;
    }
}
@keyframes mouse_user_sort {
    0%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}
//bysclet
@keyframes bear_bysclet {
    0%{
        right: -50%;
        transform: rotateY(0deg);
    }
    49%{
        transform: rotateY(0deg);
    }
    50%{
        right: 120%;
        transform: rotateY(180deg);
    }
    100%{
        right: -50%;
        transform: rotateY(180deg);
    }
}