:root {
    --bg1 : #1a2035;
    --bg2 : #2a3347;
}
//override on olde style
.bg-white{
    background-color: var(--bg2);
}
.text-gray-900{
    color: #ffffff;
}
.text-gray-700 {
    color: #dbdbdb;
}
.text-gray-600 {
    color: #c2c2c2;
}
.text-gray-500{
    color: #ffffff;
}
.bg-gray-800{
    background-color: var(--action_color);
}
.hover\:text-gray-700:hover {
    color: var(--action_color);
}
.hover\:bg-gray-100:hover {
    color: #ededed;
    background-color: #f3f4f617;
}
.focus\:ring-offset-2:focus {
    --tw-ring-offset-width: none;
}
.border_correct{
    border: 3px solid var(--action_color);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: var(--action_color);
}
///////pages style
//***************login
@import "login/login.scss";
//**************main frame
@import "main_frame/main_fram.scss";
//**************pages
@import "pages/dashboard.scss";
@import "pages/tickets.scss";
@import "pages/items.scss";
@import "pages/region.scss";
@import "pages/currency.scss";
@import "pages/plane_Target.scss";

//////component style
@import 'component/component.scss';
//////respensive_page style
@import 'respensive_page.scss';

//**************company
@import "company/componenet/company_popup.scss";