.side_barre{
    position: relative;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg2);
    overflow: hidden;
    .side_color_picture{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-20%);
        width: 150%;
        height: 110%;
        z-index: 0;
        opacity: .5;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .nave_liste{
        width: 90%;
        height: 100%;
        z-index: 1;
    }
    .nave_options{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .Logo_user{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .user_logo{
                width: 100px;
                height: 100px;
            }
            .user_name_logo{
                color: #fff;
                text-align: center;
                font-size: 25px;
            }
        }
        .options_nave{
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .NavLink{
                position: relative;
                height: 50px;
                width: 90%;
                margin: 10px 0 0 0;
                transition: .4s ease;
                border-radius: 10px;
                border: 0 solid transparent;
                display: flex;
                align-items: center;
                padding-left: 40px;
                color: #9b9c9b;
                font-size: 18px;
                font-weight: 600;
                i{
                    position: absolute;
                    left: 10px;
                    font-size: 20px;
                }
            }
            .link_inactive:hover{
                color: #ededed;
                background-color: #f3f4f617;
            }
            .link_active{
                background-color: var(--action_color);
                color: #fff;
            }
            
        }
    }
}