.add_tikets_frame{
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000085;
    display: flex;
    justify-content: center;
    align-items: center;
    .fram_tikets{
        width: 800px;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-style: solid;
        border-radius: 10px;
        border-color: var(--action_color);
        background-color: var(--bg1);
        transform-style: preserve-3d;
        transform: translate3d(0, 0 ,-500px);
        animation: open_popup .4s ease forwards;
        overflow: hidden;
        .header{
            position: relative;
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--action_color);
            padding: 10px;
            .logo{
                font-size: 35px;
                color: #fff;
            }
            .exite{
                font-size: 35px;
                color: #fff;
                transition: .4s ease;
            }
            .exite:hover{
                transform: scale(1.1);
            }
        }
        .body_fram{
            width: 100%;
            height: 85%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            .item_info::-webkit-scrollbar{
                width: 5px;
            }
            .item_info::-webkit-scrollbar-track{
                background-color: transparent;
            }
            .item_info::-webkit-scrollbar-thumb{
                border-radius: 25px;
                background-color: var(--side_color_cards);
            }
            form{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .region_carrency{
                    width: 100%;
                    height: 70px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    i{
                        color: #fff;
                        font-size: 25px;
                    }
                    .region{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .region_select{
                            width: 40%;
                            height: 70%;
                            outline: none;
                            background-color: var(--bg2);
                            color: #fff;
                            padding: 0 10px;
                            border-radius: 10px;
                            border-color: var(--action_color);
                        }
                    }
                    .carrency{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .carrency_select{
                            margin: 0 10px;
                            width: 70%;
                            height: 70%;
                            outline: none;
                            background-color: var(--bg2);
                            color: #fff;
                            padding: 0 10px;
                            border-radius: 10px;
                            border-color: var(--action_color);
                        }
                    }
                }
                .items_shoser{
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-style: solid;
                    border-radius: 10px;
                    border-color: var(--bg1);
                    border: 2.5px solid var(--action_color);
                    border-radius: 10px;
                    background-color: var(--bg1);
                    overflow: hidden;
                    ::-webkit-scrollbar{
                        width: 5px;
                    }
                    ::-webkit-scrollbar-track{
                        background-color: transparent;
                    }
                    ::-webkit-scrollbar-thumb{
                        border-radius: 25px;
                        background-color: var(--action_color);
                    }
                    .header_items{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--bg2);
                        border: 2.5px solid transparent;
                        border-color: transparent transparent var(--action_color);
                        label{
                            width: 50%;
                            height: 50px;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .search{
                                width: 70%;
                                height: 40px;
                                outline: none;
                                background-color: var(--bg2);
                                color: #fff;
                                padding: 0 10px;
                                border-radius: 10px;
                                border-color: var(--action_color);
                            }
                        }
                        #list-example{
                            width: 50%;
                            height: 50px;
                            overflow-y: scroll;
                            overflow-x: hidden;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            a{
                                background-color: var(--color_popup);
                                width: 50px;
                                height: 50px;
                                margin: 5px;
                                transition: 0.4s ease;
                                padding: 0;
                                border-color: transparent;
                                display: flex;
                                img{
                                    width: 95%;
                                    height: 95%;
                                }
                            }
                            a:hover{
                                background-color: var(--color_side_barre_hover);
                            }
                        }
                        #list-example::-webkit-scrollbar{
                            width: 0px;
                        }
                    }
                    .scrollspy-example{
                        width: 100%;
                        height: 100%;
                        overflow-x: hidden;
                        overflow-y: auto;
                        display: flex;
                        flex-direction: column;
                        .items_group{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 20px;
                            border: 2.5px solid var(--action_color);
                            border-color:var(--action_color) transparent transparent transparent;
                            .cat_title{
                                color: #fff;
                                font-size: 25px;
                                height: 60px;
                                display: flex;
                                align-items: center;
                            }
                            .items{
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: start;
                                .item{
                                    width: 100px;
                                    height: 100px;
                                    margin: 10px;
                                    background-color: var(--bg2);
                                    border:2.5px solid var(--action_color);
                                    border-radius: 10px;
                                    label{
                                        width: 100%;
                                        height: 100%;
                                        color: #fff;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-around;
                                        align-items: center;
                                        cursor: pointer;
                                        img{
                                            width: 55%;
                                            height: 55%;
                                        }
                                        p{
                                            font-size: 15px;
                                        }
                                    }
                                    .item_chek{
                                        //display: none;
                                    }
                                }
                                .item:hover{
                                    background-color: var(--bg1);
                                }
                            }
                        }
                    }
                }
                .item_info{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 10%;
                    input{
                        width: 30%;
                        height: 50px;
                        outline: none;
                        background-color: var(--bg2);
                        color: #fff;
                        padding: 0 10px;
                        border-radius: 10px;
                        border-color: var(--action_color);
                    }
                }
                .save{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .tiket_save{
                        width: 100px;
                        height: 80%;
                        background-color: var(--action_color);
                        outline: none;
                        border-style: solid;
                        border-radius: 10px;
                        border-color: transparent;
                        color: #fff;
                        font-size: 20px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    @keyframes open_popup {
        100%{
            transform: translate3d(0, 0 ,0px);
        }
    }
}